In [19]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB

In [12]:
dataset_1 = pd.read_csv('zoo.csv')

In [13]:
dataset_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aardvark  100 non-null    object
 1   1         100 non-null    int64
 2   0         100 non-null    int64
 3   0.1       100 non-null    int64
 4   1.1       100 non-null    int64
 5   0.2       100 non-null    int64
 6   0.3       100 non-null    int64
 7   1.2       100 non-null    int64
 8   1.3       100 non-null    int64
 9   1.4       100 non-null    int64
 10  1.5       100 non-null    int64
 11  0.4       100 non-null    int64
 12  0.5       100 non-null    int64
 13  4         100 non-null    int64
 14  0.6       100 non-null    int64
 15  0.7       100 non-null    int64
 16  1.6       100 non-null    int64
 17  1.7       100 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.2+ KB

In [14]:
dataset_1.head()

,aardvark,1,0,0.1,1.1,0.2,0.3,1.2,1.3,1.4,1.5,0.4,0.5,4,0.6,0.7,1.6,1.7
0,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [15]:
X= dataset_1.iloc[:,1:17]
Y= dataset_1.iloc[:,-1]

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test,Y_train, Y_test = train_test_split(X, Y, test_size=0.4)

In [20]:
MNB = MultinomialNB()

In [21]:
MNB.fit(X_train, Y_train)
Y_pred =MNB.predict(X_test)

In [25]:
print(accuracy_score(Y_test, Y_pred) * 100,'%')

80.0 %